@font-face {
    font-family: "UbuntuMono";
    font-style: normal;
    font-weight: 700;
    src: url("//static.jpope.org/fonts/UbuntuMono-B-webfont.eot?#iefix") format("embedded-opentype"), url("//static.jpope.org/fonts/UbuntuMono-B-webfont.woff") format("woff"), url("//static.jpope.org/fonts/UbuntuMono-B-webfont.ttf") format("truetype"), url("//static.jpope.org/fonts/UbuntuMono-B-webfont.svg#UbuntuBold") format("svg");
}
@font-face {
    font-family: "UbuntuMono";
    font-style: italic;
    font-weight: normal;
    src: url("//static.jpope.org/fonts/UbuntuMono-RI-webfont.eot?#iefix") format("embedded-opentype"), url("//static.jpope.org/fonts/UbuntuMono-RI-webfont.woff") format("woff"), url("//static.jpope.org/fonts/UbuntuMono-RI-webfont.ttf") format("truetype"), url("//static.jpope.org/fonts/UbuntuMono-RI-webfont.svg#UbuntuItalic") format("svg");
}
@font-face {
    font-family: "UbuntuMono";
    font-style: italic;
    font-weight: 700;
    src: url("//static.jpope.org/fonts/UbuntuMono-BI-webfont.eot?#iefix") format("embedded-opentype"), url("//static.jpope.org/fonts/UbuntuMono-BI-webfont.woff") format("woff"), url("//static.jpope.org/fonts/UbuntuMono-BI-webfont.ttf") format("truetype"), url("//static.jpope.org/fonts/UbuntuMono-BI-webfont.svg#UbuntuBoldItalic") format("svg");
}
@font-face {
    font-family: "UbuntuMono";
    font-style: normal;
    font-weight: normal;
    src: url("//static.jpope.org/fonts/UbuntuMono-R-webfont.eot?#iefix") format("embedded-opentype"), url("//static.jpope.org/fonts/UbuntuMono-R-webfont.woff") format("woff"), url("//static.jpope.org/fonts/UbuntuMono-R-webfont.ttf") format("truetype"), url("//static.jpope.org/fonts/UbuntuMono-R-webfont.svg#UbuntuRegular") format("svg");
}
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: url("//static.jpope.org/fonts/Ubuntu-B-webfont.eot?#iefix") format("embedded-opentype"), url("//static.jpope.org/fonts/Ubuntu-B-webfont.woff") format("woff"), url("//static.jpope.org/fonts/Ubuntu-B-webfont.ttf") format("truetype"), url("//static.jpope.org/fonts/Ubuntu-B-webfont.svg#UbuntuBold") format("svg");
}
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: normal;
    src: url("//static.jpope.org/fonts/Ubuntu-LI-webfont.eot?#iefix") format("embedded-opentype"), url("//static.jpope.org/fonts/Ubuntu-LI-webfont.woff") format("woff"), url("//static.jpope.org/fonts/Ubuntu-LI-webfont.ttf") format("truetype"), url("//static.jpope.org/fonts/Ubuntu-LI-webfont.svg#UbuntuItalic") format("svg");
}
@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    src: url("//static.jpope.org/fonts/Ubuntu-BI-webfont.eot?#iefix") format("embedded-opentype"), url("//static.jpope.org/fonts/Ubuntu-BI-webfont.woff") format("woff"), url("//static.jpope.org/fonts/Ubuntu-BI-webfont.ttf") format("truetype"), url("//static.jpope.org/fonts/Ubuntu-BI-webfont.svg#UbuntuBoldItalic") format("svg");
}
@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    src: url("//static.jpope.org/fonts/Ubuntu-L-webfont.eot?#iefix") format("embedded-opentype"), url("//static.jpope.org/fonts/Ubuntu-L-webfont.woff") format("woff"), url("//static.jpope.org/fonts/Ubuntu-L-webfont.ttf") format("truetype"), url("//static.jpope.org/fonts/Ubuntu-L-webfont.svg#UbuntuRegular") format("svg");
}
