html {
  font-size:1.1rem;
}
body {
  padding-top: 4em;
  padding-bottom: 5em;
  background:url("/theme_static/images/noise.png") repeat scroll 0 0px, linear-gradient(to right, rgba(166, 161, 149, 0.9), rgba(166, 161, 149, 0.3) 8%, rgba(166, 161, 149, 0) 15%, rgba(166, 161, 149, 0) 85%, rgba(166, 161, 149, 0.3) 92%, rgba(166, 161, 149, 0.9) 100%) repeat scroll 0 0 #FDF6E3;
  color: #586e75;
  font-size:1.1em;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-size:1.6em;
}
h2 {
  font-size:1.5em;
}
h3 {
  font-size:1.4em;
}
h4 {
  font-size:1.3em;
}
h5 {
  font-size:1.1em;
}
a {
  text-shadow:0 0 10px #969386;
  text-decoration:none;
}
a:hover {
  color: #000;
  text-shadow:0 0 5px #969386;
}
p,
li {
  font-family: "Ubuntu", sans-serif;
}
code, pre { font-family: "UbuntuMono",monospaced;}
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}
code, tt {
  background: none repeat scroll 0 0 #F1F0EA;
  border: 1px solid #DDDBCC;
  border-radius: 2px;
  font-size: 0.85em;
  padding: 1px 3px;
  white-space: pre-wrap;
}
blockquote {
  -moz-box-sizing: border-box;
  border-left: 0.6em solid #EDECE4;
  margin: 1.6em 0;
  padding: 0 1.6em;
}
.profile {
  border: 1px solid #A6A195;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 5px #A6A195 inset;
  padding: 4px;
  margin: 0 2px;
  background-color:#fdf6E3;
}
.navbar {
  background: linear-gradient(to bottom, rgba(166, 161, 149, 0.9), rgba(253, 246, 227, 0.2)) repeat scroll 0 0px, linear-gradient(to right, #A6A195, rgba(166, 161, 149, 0.5) 8%, rgba(166, 161, 149, 0.0) 15%, rgba(166, 161, 149, 0.0) 85%, rgba(166, 161, 149, 0.5) 92%, #A6A195 100%) repeat scroll 0 0,url("/images/noise.png") repeat scroll 0 0px rgba(253, 246, 227, 0.7);
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 5px 10px rgba(150, 147, 134, 0.5);
}
.navbar-top {
  top: 0;
  border-bottom: 1px solid #EEE8D5;
  border-radius: 0 0 16px 16px;
}
.navbar-bottom {
  bottom: 0;
  border-top: 1px solid #EEE8D5;
  font-size:0.85em;
  border-radius: 16px 16px 0 0;
}
.navbar p,
li {
  margin: 0;
  padding: 0;
}
.navbar li {
  float: left;
  padding-left: 0;
  padding-right: 2em;
}
.navbar a {
  text-decoration: none;
  color: #444444;
}
.navbar a:hover {
  color: #000000;
}
.navbar.navbar-top a {
    line-height: 2em;
}

.nav > ul {
  margin-bottom: 0;
}
.brand {
  max-height:1.5em;
  display:inherit;
}
.brand img {
  max-width:236px;
}
.two.columns.navbtn {
    background: none;
    border-radius:none;
    box-shadow:none;
    margin: 0;
}
.container {
  max-width:inherit;
}
.content{
  margin-top:0;
}
.center {
  text-align:center;
}
.footer {
  text-align:center;
}
.footer p, li {
  padding: 0;
}
.footer a {
  text-decoration: none;
  color: #586e75;
}
.maincontent {
  margin-bottom: 2em;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background: -moz-linear-gradient(center top , rgba(253, 246, 227, 0.2) 0%, rgba(82, 79, 73, 0.2) 100%) repeat scroll 0 0 #FDF6E3;
  background: -webkit-linear-gradient(center top , rgba(253, 246, 227, 0.2) 0%, rgba(82, 79, 73, 0.2) 100%) repeat scroll 0 0 #FDF6E3;
  background: linear-gradient(center top , rgba(253, 246, 227, 0.2) 0%, rgba(82, 79, 73, 0.2) 100%) repeat scroll 0 0 #FDF6E3;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  background: -moz-linear-gradient(center top , rgba(253, 246, 227, 0.3) 0%, rgba(82, 79, 73, 0.3) 100%) repeat scroll 0 0 #FDF6E3;
  background: -webkit-linear-gradient(center top , rgba(253, 246, 227, 0.3) 0%, rgba(82, 79, 73, 0.3) 100%) repeat scroll 0 0 #FDF6E3;
  background: linear-gradient(center top , rgba(253, 246, 227, 0.3) 0%, rgba(82, 79, 73, 0.3) 100%) repeat scroll 0 0 #FDF6E3;
}
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  background: -moz-linear-gradient(center top , rgba(253, 246, 227, 0.4) 0%, rgba(82, 79, 73, 0.4) 100%) repeat scroll 0 0 #FDF6E3;
  background: -webkit-linear-gradient(center top , rgba(253, 246, 227, 0.4) 0%, rgba(82, 79, 73, 0.4) 100%) repeat scroll 0 0 #FDF6E3;
  background: linear-gradient(center top , rgba(253, 246, 227, 0.4) 0%, rgba(82, 79, 73, 0.4) 100%) repeat scroll 0 0 #FDF6E3;
}
#contactus input[type="text"], #contactus input[type="email"], #contactus input[type="url"], #contactus textarea, input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea, select {
  background-color: #EEE8D5;
  width: 98%;
  box-shadow: 0 0 2px #A6A195 inset;
}
.bw {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); 
  -o-filter: grayscale(100%);
  filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
  filter: gray;
  -webkit-filter: grayscale(1);
}
.bw:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); 
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%); 
  -o-filter: grayscale(0%);
  filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale');  
  filter: none;
  -webkit-filter: grayscale(0);
  transition: all .6s ease;
}
.seeks {
  text-align:center;
}
.sitemenu {
  text-align:center;
}
.sitemenu ul li{
  line-height:1.333333em;
}
.seeks input[type="text"], .seeks input[type="password"], .seeks input[type="email"], .seeks input[type="url"], .seeks textarea, .seeks select {
  width: 90%;
  background-color:#eee8d5;
  margin-left:auto;
  margin-right:auto;
}
.pubkey pre, .pubkey code {
  font-size: 0.5em;
  line-height: 1em;
}
.radarlist a {
  text-decoration:none;
  line-height:1.5em;
}
.socialicons {
  background: none repeat scroll 0 0 #EEE8D5;
  border-radius: 16px;
  box-shadow: none;
  padding: 8px;
  margin:4px;
  border:1px solid #93a1a1;
  width:16px;
  height:16px;
}
.button.sitelinks.first {
  margin-left:3em;
}
.button.sitelinks {
  margin-left:0.3em;
}
.fa-dark {
  color: #93a1a1;
}
.fa-light {
  color: #eee8d5;
}
/* scroll to top */
/*@media only screen and (min-width:768px) {*/
#scrolltop{
  opacity:0.5;
  position:fixed;
  right:5px;
  bottom:40px;
  cursor:pointer;
  display:none;
  z-index:100;
  }
#scrollbottom{
  opacity:0.5;
  position:fixed;
  right:5px;
  bottom:19px;
  cursor:pointer;
  display:none;
  z-index:100;
  }
/*}*/
/*@media only screen and (max-width:768px) {
 *#scrolltop{
 *  display:none;
 *  }
 *#scrollbottom{
 *  display:none;
 *  }
 *}
*/

/* hopefully some sort of mobile menu type of thing stuff */
.collapse {
  display:inherit;
}
@media only screen and (max-width:767px) {
  .collapse {
    display:none;
  }
}

/* weather stuffs */

.pradar {
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 10px;
  max-width: 95%;
}

/* weather map stuffs */

#map {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px;
  position: absolute;
}
.olAlphaImg, .olControlZoom.olControlNoSelect {
/*    top: 60px;*/
}
.olControlAttribution {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  bottom: 0 !important;
}
.olPopup {
    border-radius: 8px 8px 8px 8px;
    font-family: "Ubuntu", "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 4px;
}
.olPopupContent {
    padding: 5px;
}
p.weather_title {
    color: black;
    font-size: medium;
    font-weight: bold;
}
div.weather_block {
    float: left;
}
div.cur_weather_block, div.temp_block {
    float: left;
}
div.big_temp {
    display: block;
    font-size: 30px;
    padding-top: 6px;
}
div.small_temp_block {
    display: block;
    overflow: visible;
    width: 30px;
}
div.small_temp, div.small_temp_grey {
    float: left;
    font-size: small;
    text-align: center;
}
div.small_temp_grey, div.small_val_grey {
    color: gray;
}
div.small_val, div.small_val_grey {
    clear: left;
    display: block;
    font-size: x-small;
  line-height:1.5em;
}
.olPopupCloseBox {
    background: url("img/close.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
.olPopupCloseBox {
    background: url("http://openweathermap.org/img/glyphicons-halflings.png") no-repeat scroll -48px -96px transparent !important;
}
.olControlLayerSwitcher {
  width:14em !important;
}
.olControlLayerSwitcher .layersDiv {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 10px #000000;
    padding: 5px 10px;
}
.labelSpan {
    float: right;
    margin-left: 0;
    width: 85%;
}
.column.alpha, .columns.alpha, .alpha {
  margin-left: 0;
}
.column.omega, .columns.omega, .omega {
  margin-right: 0;
}
.column.heaven, .columns.heaven, .heaven {
  margin-top: 0;
}
.column.hell, .columns.hell, .hell ul, .hell {
  margin-bottom: 0;
}
.msgbox {
  border: 1px solid #A6A195;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 5px #A6A195 inset;
  padding: 6px;
  margin: 10px;
  background-color:#fdf6E3;
  text-align:center;
}
.msgbox.err {
  background-color:#ffaa99;
}
.msgbox.success {
  background-color:#ddffaa;
}

/* testing stuffs */

#grid .column, #grid .columns {
  background: none repeat scroll 0 0 #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  color: #555555;
  font-size: 12px; 
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* sidr stuffs */
#mobile-header {
  display: none;
}
@media only screen and (max-width: 767px){
  #mobile-header {
    display: block;
  }
}
#responsive-menu-button {
  right: 0;
  position: absolute;
  top: 10px;
  z-index:999999;
}
.sidr {
  background: url("/images/noise.png") repeat scroll 0 0px,none repeat scroll 0 0 #333;
  box-shadow: 0 0 5px 5px #101010 inset;
  width:100px;
}
.sidr ul li {
  border-bottom: none;
  border-top:none;
  display: block;
  line-height: 48px;
  margin: 0;
  height:3em;
}
.sidr ul {
  border-bottom:none;
  border-top:none;
  padding-top:1em;
}
/* mediagoblin stuff */
header {
  max-width:inherit;
  width:inherit;
}
.media_thumbnail img {
  background-color: #FDF6E3;
  border: 1px solid #A6A195;
  border-radius: 6px;
  box-shadow: 0 0 5px #A6A195 inset;
  max-width: 92%;
  padding: 4px;
}
.thumb_entry {
  background: url("/theme_static/images/noise.png") repeat fixed 0 0 rgba(166, 161, 149, 0.05);
  box-shadow: 0 0 1em #A6A195 inset;
  border-radius:3px;
  border: 1px solid #969386;
}
.media_pane img, .media_pane #vjs_video_4 {
  border: 0.3rem solid #373F40;
  border-radius: 6px;
  box-shadow: 0 0 0.3rem #373F40;
  max-width:100%;
  width:100% !important;
}
.form_box, .form_box_xl {
  background: url(/theme_static/images/noise.png) repeat fixed 0 0 rgba(166,161,149,.1);
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  box-shadow: 0 0 15px #333 inset;
}
.button_action, .button_action_highlight, .button_form {
  color: #4a4a4a;
  background-color: transparent;
  border: 1px solid;
  border-color: transparent;
  border-width: 1px 1px 2px;
  padding: 5px 10px;
}
.navigation_button {
  width: 125px;
}
@media screen and (max-width: 940px) {
  .navigation_button {
    width: 49%;
    padding: 10px 0 14px;
  }
}
.audio-currentTime {
  bottom:9px !important;
}
.audio-control-play-pause {
  bottom:20px !important;
  left:8px !important;
}
@media only screen and (max-width: 767px) {
  .thumb_gallery .row {
    margin-bottom:0;
  }
  .thumb_gallery .thumb_entry {
    margin-bottom:3px;
  }
}
.mediagoblin_content {
  padding-bottom:1rem;
}
/* end mediagoblin stuff */
