    <p>
    <a href="https://flattr.com/submit/auto?user_id={%- trans user_url=request.urlgen(
              'mediagoblin.user_pages.user_home',
              user=media.get_uploader.username),
              username=media.get_uploader.username -%}
    {{username}}
    {%- endtrans -%}&url=https://media.jpope.org{{ request.urlgen('mediagoblin.user_pages.media_home',
                            user=media.get_uploader.username,
                            media=media.slug_or_id) }}&title={{ media.title }}">    
        <img src="{{ request.staticdirect('/images/flattr.png', 'theme') }}" alt="Flattr This"/>
    </a>
    </p>
