<div class="navbar navbar-top">
      <div class="container">
        <div class="five columns alpha omega">
          <a class="brand"
               href="{{ request.urlgen('index') }}">
               <img src="{{ request.staticdirect('/images/media.jpope.org.logo.png', 'theme') }}"
                   alt="{% trans %}media.jpope.org logo{% endtrans %}" />
            </a>
        </div>
        <div id="mobile-header"><a href="#sidr-main" id="responsive-menu-button"> <i class="fa fa-ellipsis-h fa-2x"></i></a></div>
        <div class="collapse"><span class="six columns alpha omega">&nbsp;</span></div>
        <div id="navigation" class="collapse pull-right">
          <nav class="nav">
            <ul>
              <li class="one column alpha omega"><a href="//jpope.org" class="pull-right"><span class="fa-stack fa-fw fa-lg"><i class="fa fa-circle fa-stack-2x fa-light"></i><i title="home" class="fa fa-home fa-stack-1x"></i></span></a></li>
              <li class="one column alpha omega"><a href="//whird.jpope.org" class="pull-right"><span class="fa-stack fa-fw fa-lg"><i class="fa fa-circle fa-stack-2x fa-light"></i><i title="blog" class="fa fa-file-text fa-stack-1x"></i></span></a></li>
              <li class="one column alpha omega"><a href="/" class="pull-right"> <span class="fa-stack fa-fw fa-lg"><i class="fa fa-circle fa-stack-2x fa-light"></i><i title="media" class="fa fa-camera-retro fa-stack-1x"></i></span></a></li>
              <li class="one column alpha omega"><a href="//jpope.org/contact" class="pull-right"><span class="fa-stack fa-fw fa-lg"><i class="fa fa-circle fa-stack-2x fa-light"></i><i title="contact" class="fa fa-envelope fa-stack-1x"></i></span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
